src/package-lock.json
src/_IGNORE_YomKippur'sTfila
src/node_modules
src/names.json
src/YomKippur'sTfila.data.json
src/pair_names/final_names.xlsx
src/pair_names/venv/
src/names final.json
src/names.json
node_modules/
